<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Por hacer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="checkmark-done-circle-outline"></ion-icon>
      <ion-label>Terminado</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
