<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Por hacer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-listas [terminada]="false"></app-listas>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="agregarLista()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  </ion-fab>
</ion-content>
