<ion-list>


  <ion-item-sliding *ngFor="let lista of deseosService.listas | filtroCompletado:terminada" >
    <ion-item detail
              (click)="listaSeleccionada( lista )">
      <ion-label>{{ lista.titulo }}</ion-label>
      <ion-note color="primary" 
                slot="end">{{ lista.items.length }} items</ion-note>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option (click)="editarLista( lista )" color="primary">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option (click)="borrarLista( lista )" color="danger">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding> 

</ion-list>