<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ lista.titulo }}</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nuevo iten</ion-label>
      <ion-input type="text" 
                 [(ngModel)]="nombreItem"
                 (keyup.enter)="agregarItem()"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <!-- <ion-list-header *ngIf="lista.items.lenght > 0"> -->
    <ion-list-header *ngIf="lista.items.lenght > 0">
      <ion-label>Tareas por hacer</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of lista.items; let i = index"
                      class="animated fadeInDown">
      <ion-item>
        <ion-checkbox slot="start"
                      [(ngModel)]="item.completado"
                      (ionChange)="cambioCheck( item )"></ion-checkbox>
        <ion-label>{{ item.desc }}</ion-label>
      </ion-item>


      <ion-item-options side="end">
        <ion-item-option (click)="borrar(i)" color="danger">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>
